{{reviewable-topic-link reviewable=reviewable tagName=''}}
<div class='post-contents-wrapper'>
{{reviewable-created-by user=reviewable.target_created_by tagName=''}}
<div class='post-contents'>
  {{reviewable-created-by-name user=reviewable.target_created_by tagName=''}}
  <div class='post-body'>
    {{{ reviewable.payload.post_cooked }}}
  </div>
  {{yield}}
  {{#if reviewable.payload.external_error}}
    <div class='reviewable-api-error'>
      Akismet API Error: 
      {{{ reviewable.payload.external_error.error }}}
      ({{{ reviewable.payload.external_error.code }}})
      - {{{ reviewable.payload.external_error.msg }}}
    </div>
  {{/if}}
</div>
</div>
